$drop-shadow: 0px 4px 4px 0 rgba(0 0 0/ 0.3);
$inner-shadow: inset 0px 4px 4px 0 rgba(0 0 0/ 0.5);
$img-shadow: 0px -4px 4px rgba(0 0 0 / 0.5);
$black: #191919;
$dark-green: #21605d;
$green: #339476;
$light-gray: #eaebed;

/*LOGIN*/
input {
    padding: 1%;
}

input[type="submit"] {
    width: 35%;
    display: flex;
    align-self: flex-end;
    margin-top: 1em;
    color: $dark-green !important;
    font-size: large;
    font-weight: bold;
    &:focus {
        outline: 0;
        border: 0;
    }
}

input {
    outline: none;
    box-shadow: $drop-shadow;
}

.inputLogin {
    border-radius: 10px;
    border: 0;
    height: 3em;
    margin-top: 2em;
}

.kontenedorea {
    margin-top: 13%;
}

.bocadillo {
    position: absolute;
    top: 10vh;
    margin-left: 14% !important;
    background-color: $light-gray;
    height: 140px;
    width: 350px;
    background-color: $light-gray;
    box-shadow: $drop-shadow;
    border-radius: 2em 2em 2em 0;
    animation: upDownBocadillo alternate infinite 3s ease-in;
    .loginText {
        color: $green;
        font-family: roboto-thin;
    }
}

.aRegister {
    text-decoration: none;
    color: $green;
}

.loginText {
    font-size: 600%;
}

.maskota {
    width: 20%;
    filter: drop-shadow($img-shadow);
}

.divLogin {
    background-color: $dark-green;
    border-radius: 0 1.5em 1.5em 0;
    height: 300px;
}



@keyframes upDownBocadillo {
    from {
        transform: translateY(-8px);
    }
    to {
        transform: translateY(10px);
    }
}
