$black: #191919;
$dark-green: #21605D;
$green: #339476;
$light-gray: #EAEBED;

$drop-shadow: 0 4px 4px 0 rgba(0 0 0 / .3);
$inner-shadow: inset 0 4px 4px 0 rgba(0 0 0 / .5);
$img-shadow: 0 -4px 4px rgba(0 0 0 / .5);

#centrar {
    margin-top: 13%;
    margin-left: 10%;
}

.input,#bidali{
    width: 20%;
    background-color: $dark-green !important;
    border-radius: 1em;
    margin: 20px;
    border-color: $dark-green;
    color: $light-gray;
    border: none !important;
    &#bidali{
        margin-left: 40%;
        margin-top: 10%;
        
    }
    
}

